*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	color: white;
	font-family: 'Mochiy Pop P One', sans-serif;
	font-size: 1.6rem;
	background: #141E30; 
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  
	background: linear-gradient(to right, #243B55, #141E30); 	
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.header {
	margin: 8rem 0;
	&-text {
		font-family: 'Dancing Script', cursive;
		text-align: center;
		font-size: 8rem;

		span {
			color: gold;
		}
	}
}

.main {
	margin: 0 30px;
	.choice {
		display: flex;
		gap: 100px;
	}

	.userbox, .computerbox {
		flex: 1;
		display: flex;
		gap: 20px;
		justify-content: center;
		flex-wrap: wrap;

		h2 {
			width: 100%;
			margin-bottom: 20px;
			text-align: center;
		}

		.btn {
			flex: 1;
			padding: 40px;
			background-color: transparent;
			border: 5px solid white;
			border-radius: 30px 10px;
			cursor: not-allowed;
			font-size: 5rem;
		}

		.btn-user {
			cursor: pointer;
			transition: background-color 0.3s;
		}

		.btn-user:hover {
			background-color: rgba(255, 255, 255, 0.200);
		}
	}
	.results {
		margin-top: 30px;
		.score {
			display: flex;
			justify-content: space-around;
			font-size: 3rem;
		}

		.winner-round {
			margin: 40px 0;
			font-size: 5rem;
			text-align: center;
			font-family: 'Dancing Script', cursive;
			font-weight: 700;
			color: gold;
		}

		.winner-game {
			font-size: 3.5rem;
			text-align: center;
		}
	}
}